<div class="container">
  <div class="sidenav">
    <div class="logo-container">
      <img src="assets/png/logo.png" alt="logo">
    </div>
    <a href="/" class="nav-item" routerLink="/">
      <span class="material-symbols-outlined"> dashboard </span>
      Dashboard
    </a>
    <a href="/withdraw" class="nav-item" routerLink="/withdraw">
      <span class="material-symbols-outlined"> receipt_long </span>
      Extrato
    </a>
    <a href="/" class="nav-item" routerLink="/">
      <span class="material-symbols-outlined"> swap_horiz </span>
      Transferências
    </a>
    <a href="/" class="nav-item" routerLink="/">
      <span class="material-symbols-outlined"> credit_card </span>
      Cartão
    </a>
    <a href="/" class="nav-item" routerLink="/">
      <span class="material-symbols-outlined"> trending_up </span>
      Investimentos
    </a>
    <a href="/" class="nav-item" routerLink="/">
      <span class="material-symbols-outlined"> shield </span>
      Seguros
    </a>
    <a href="/" class="nav-item" routerLink="/">
      <span class="material-symbols-outlined"> currency_exchange </span>
      Câmbio
    </a>
    <a href="/" class="nav-item" routerLink="/">
      <span class="material-symbols-outlined"> person </span>
      Meu perfil
    </a>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
