<mat-sidenav-container>
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true">
    <div class="logo-container">
      <img src="assets/png/logo.png" alt="logo">
    </div>
    <div class="nav-list">
      <a class="nav-item" routerLink="/">
        <i class="material-symbols-outlined"> dashboard </i>
        Dashboard
      </a>
      <a class="nav-item" routerLink="/statement">
        <i class="material-symbols-outlined"> receipt_long </i>
        Extrato
      </a>
      <a class="nav-item" routerLink="/transfer">
        <i class="material-symbols-outlined"> swap_horiz </i>
        Transferências
      </a>
      <a class="nav-item" routerLink="/withdraw">
        <i class="material-symbols-outlined"> credit_card </i>
        Cartão
      </a>
      <a class="nav-item" routerLink="/investment">
        <i class="material-symbols-outlined"> trending_up </i>
        Investimentos
      </a>
      <a class="nav-item" routerLink="/insurance">
        <i class="material-symbols-outlined"> shield </i>
        Seguros
      </a>
      <a class="nav-item" routerLink="/">
        <i class="material-symbols-outlined"> currency_exchange </i>
        Câmbio
      </a>
      <a class="nav-item" routerLink="/">
        <i class="material-symbols-outlined"> person </i>
        Meu perfil
      </a>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
