@import "../../../styles/variables.scss";

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 100px ;

  .signup-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 32rem;
    background-color: $primary-color;
    border-radius: 0.9rem;
    padding: 4rem 3rem;

    img {
      width: 20rem;
      margin-bottom: 3rem;
    }

    .signup-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.2rem;

        button {
          background-color: #0b4da1;
          color: white;
          padding: 0.6rem;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          transition: opacity 0.3s;
          font-size: 1.2rem;
          margin-top: 0.5rem;

          &:hover {
            opacity: 0.9;
          }
        }
      }
      .error-message {
        color: #ff4d4d;
        font-size: 0.9rem;
        margin-top: 0.4rem;
        margin-bottom: 0.5rem;
      }
    }

    .signup-footer {
      text-align: start;
      width: 100%;
      margin-top: 1rem;
      margin-left: 1rem;
      color: #e2e2e2;

      a {
        color: #fff;
        text-decoration: underline;
        font-weight: 400;
        transition: color 0.3s;

        &:hover {
          color: #0b4da1;
        }
      }
    }
  }
}
