<section class="insurance-container">
  <h2>Seguros</h2>
  <div class="insurance-cards">
    <app-insurance-card
    title="Seguro de Vida"
    description="Proteja o futuro da sua família com um seguro de vida">
  </app-insurance-card>

  <app-insurance-card
    title="Seguro Residencial"
    description="Garanta a proteção da sua casa e do seu patrimônio">
  </app-insurance-card>

  <app-insurance-card
    title="Seguro Auto"
    description="Conte com um seguro completo para o seu veículo">
  </app-insurance-card>
  </div>
</section>