<section class="login-container">
  <div class="login-card">
    <img src="assets/png/logo.png" alt="logo" />
    <div class="login-content">
      <form (ngSubmit)="login()">
        <app-floating-input
          [(value)]="username"
          name="username"
          placeholder="Nome de usuário"
          required
        ></app-floating-input>

        <app-floating-input
          [(value)]="password"
          name="password"
          placeholder="Senha"
          [type]="'password'"
          required
        ></app-floating-input>

        <button type="submit" [disabled]="isLoading">
          {{ isLoading ? "Entrando..." : "Entrar" }}
        </button>
      </form>
      <div class="login-footer">
        <span>Não tem uma conta? </span>
        <a routerLink="/register">Registrar</a>
      </div>
    </div>
  </div>
</section>
