<section class="withdraw-container">
  <h2>Saque</h2>
  <!-- Main area to enter the withdrawal amount -->
   <div class="form-withdraw">
  <div *ngIf="!printing && !showNotes">
    <div class="floating-label">
      <input
        type="text"
        id="Valor"
        class="input"
        [(ngModel)]="withdrawAmount"
        name="valor"
        required
        mask="separator.2"
        prefix="R$ "
        thousandSeparator="."
        decimalMarker=","
      />
      <label [class.active]="withdrawAmount">Valor</label>
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <button type="button" (click)="processWithdrawal()">Sacar</button>
  </div>
</div>


  <!-- Component that simulates printing notes -->
  <app-printing *ngIf="printing"></app-printing>

  <!-- Main area to show loot -->
  <div *ngIf="!errorMessage && !printing && noteKeys.length > 0" class="note">
    <h3>Notas impressas do saque de R${{ withdrawAmount }}:</h3>
    <div class="note-counts">
      <div *ngFor="let key of noteKeys">
        <ng-container *ngFor="let i of [].constructor(noteCounts[key])">
          <img
            [src]="getImageForNote(key)"
            alt="Nota de {{ key }}"
            class="note-image"
          />
        </ng-container>
      </div>
    </div>
    <ul>
      <li *ngFor="let key of noteKeys">
        {{ noteCounts[key] }} nota de: R${{ key }},00
      </li>
    </ul>
    <div class="total-notes">
      <strong>Total de notas: {{ totalNotes }}</strong>
    </div>
    <button class="btn-primary" (click)="reset()">Fazer outro saque</button>
  </div>
</section>
