<section class="transfer-container">
  <h2>Transferência</h2>
  <form (ngSubmit)="submitTransfer()" class="form-transfer">
    <div class="floating-label">
      <input
        type="text"
        id="Valor"
        class="input"
        [(ngModel)]="transfer.value"
        name="valor"
        required
        mask="separator.2"
        prefix="R$ "
        thousandSeparator="."
        decimalMarker=","
      />
      <label [class.active]="transfer.value">Valor</label>
    </div>
    <div class="floating-label">
      <input
        type="text"
        id="Agency"
        class="input"
        [(ngModel)]="transfer.beneficiaryAgency"
        name="agency"
        required
        mask="0000"
      />
      <label [class.active]="transfer.beneficiaryAgency">Agência</label>
    </div>

    <div class="floating-label">
      <input
        type="text"
        id="AccountNumber"
        class="input"
        [(ngModel)]="transfer.beneficiaryAccountNumber"
        name="accountNumber"
        required
        mask="00000000 0"
      />
      <label [class.active]="transfer.beneficiaryAccountNumber">Número da Conta</label>
    </div>
    <div class="floating-label">
      <input
        type="text"
        id="Description"
        class="input"
        [(ngModel)]="transfer.description"
        name="description"
        required
      />
      <label [class.active]="transfer.description">Descrição</label>
    </div>
    <button type="submit">Transferir</button>
  </form>
</section>
