<section class="dashboard-container">
  <div class="dashboard-content">
    <h2>Dashboard</h2>
    <div class="button-group">
      <button mat-stroked-button color="primary" routerLink="/transfer">
        Transferir
      </button>
      <button mat-stroked-button color="primary" routerLink="/deposit">
        Depositar
      </button>
      <button mat-stroked-button color="primary" routerLink="/withdraw">
        Sacar
      </button>
    </div>
  </div>

  <div class="dashboard-container-summary">
    <mat-card class="card-statement">
      <mat-card-title>Últimas transações</mat-card-title>
      <table
        *ngIf="latestTransactions.length > 0; else noTransactions"
        mat-table
        [dataSource]="latestTransactions"
        class="mat-elevation-z1"
      >
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let element">
            {{ element.data | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Valor</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="value"
            [ngClass]="{
              positive: isPositive(element),
              negative: isNegative(element)
            }"
          >
            {{ formatValue(element) }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['type', 'date', 'value']"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['type', 'date', 'value']"
        ></tr>
      </table>

      <ng-template #noTransactions>
        <p class="no-transactions">Nenhuma transação</p>
      </ng-template>
    </mat-card>

    <div class="summary-cards">
      <app-summary-product-card
        [title]="'Depósitos'"
        [value]="
          summary.deposits.count +
          ' | ' +
          (summary.deposits.total | currency : 'BRL')
        "
        icon="arrow_downward"
      ></app-summary-product-card>

      <app-summary-product-card
        [title]="'Saques'"
        [value]="
          summary.withdrawals.count +
          ' | ' +
          (summary.withdrawals.total | currency : 'BRL')
        "
        icon="arrow_upward"
      ></app-summary-product-card>

      <app-summary-product-card
        [title]="'Transferências'"
        [value]="
          summary.transfers.count +
          ' | ' +
          (summary.transfers.total | currency : 'BRL')
        "
        icon="swap_horiz"
      ></app-summary-product-card>
    </div>
  </div>
</section>
