@import "../../../styles/variables.scss";

.dashboard-container {
  color: $primary-color;

  h2 {
    font-size: 1.8rem;
  }

  .dashboard-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .button-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      button {
        color: white;
        font-size: 0.8rem;
        background-color: #2e7c8c;
        border: none;
        border-radius: 5px;
        padding: 1rem;
        text-align: center;
        width: 7rem;
      }
    }
  }

  .dashboard-container-summary {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .card-statement {
    width: 100%;
    border: 1px solid #ebeaea;
    padding: 2rem;
    border-radius: 8px;

    .value {
      font-weight: bold;

      &.positive {
        color: green;
      }

      &.negative {
        color: red;
      }
    }

    .no-transactions {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      color: #666;
      font-style: italic;
    }
  }

  .summary-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;

    app-summary-product-card {
      flex: 1;
      min-width: 15rem;
    }
  }
}
